<section class="video-container">
  <video src="/assets/Obra.mp4" autoplay loop muted playsinline></video>
  <div class="logo">
      <img src="/assets/ssl1.png" alt="Logo ACHME" />
  </div>
</section>

<style>
  section {
    height: 100vh;
    background-color: black;
  }

  video {
    position: relative;
    width: 100%;
    height: auto; /* Mantiene la proporción */
    display: block;
    margin-top: 0%;
    
  }

  .logo {
    position: relative;
    display: flex;
    text-align: center;
    z-index: 1;
    justify-content: center;
    top: -88%; 
    left: 4%;
  }

  .logo img {
    width: 600px;
  }
</style>

